@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-style: italic;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../assets/fonts/space-grotesk/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 100 900;
}
